
* {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 40px;
}


p {
    color: green;
    text-align: center;
}


div {
    text-align: justify;
}


.colored-text {
    color: red;
}


.no-wrap {
    white-space: nowrap;
}


#italic-bold {
    font-style: italic;
    font-weight: bold;
}


.shadow-text {
    text-shadow: 5px -5px 3px #000;
}


.upper-case {
    text-transform: uppercase;
    text-decoration: line-through;
    text-indent: 50px;
}


.spacing {
    letter-spacing: 30px;
    word-spacing: 50px;
}
