
a {
    color: purple;
}


.main-menu-item {
    color: green;
}



ul ul {
    list-style: none;
}



.mark-square {
    list-style-type: square;
}



.mark-check {
    list-style-image: url('li.svg');
}


.mark-none a {
    text-decoration: none;
}


ol.different-items {
    list-style-position: inside;
}