
a {
    color: purple;
}


.main-menu-item {
    color: green;
}



ul ul {
    list-style: none;
}



.berries-list {
    list-style-type: square;
}



.vegetables-list {
    list-style-image: url('https://img.icons8.com/ios-glyphs/16/000000/checked--v1.png');
}


.berries-list a {
    text-decoration: none;
}


ol.different-items {
    list-style-position: inside;
}