/* 1. Усім посиланням меню задати фіолетовий колір тексту через селектор тегу. */
a {
    color: purple;
}

/* 2. Лише пунктам головного меню (посиланням) задати зелений колір тексту через селектор класу. */
.main-menu-item {
    color: green;
}

/* 5. Прибрати маркери лише у вкладених списках. */
/* Це загальне правило для ВСІХ вкладених списків. Воно прибере маркери у "Фруктів". */
ul ul {
    list-style: none;
}

/* 3. Змінити тип маркера останнього (вкладеного) списку на квадрат через селектор класу. */
/* Це правило "сильніше" за попереднє, тому воно поверне маркери (квадратики) для ягід. */
.berries-list {
    list-style-type: square;
}

/* 4. Змінити тип маркера другого (вкладеного) списку на піктограму через селектор класу. */
/* Це правило також "сильніше" і поверне маркери (іконки) для овочів. */
.vegetables-list {
    list-style-image: url('https://img.icons8.com/ios-glyphs/16/000000/checked--v1.png');
}

/* 6. Для посилань, що знаходяться в останньому списку, прибрати підкреслення. */
.berries-list a {
    text-decoration: none;
}

/* 7. Для блоку "Різне" задати внутрішнє розташування маркерів/нумерації. */
ol.different-items {
    list-style-position: inside;
}